@model MVC.Models.Calificacion

@{
    ViewBag.Title = "CalificarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calificar Reserva</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            @*<legend>Datos de la Reserva</legend>*@
            <div class="panel-title" hidden="hidden">Id</div>
            <div class="text-left">
                <!--Este campo será utilizado para poder recibir y pasar en el post el id del objeto al controlador-->
                <input type="text" name="ReservaID" id="ReservaID" value="@ViewBag.Reserva.Id" hidden="hidden"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Puntaje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Puntaje, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Puntaje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </div>
    </div>
                        }

<div>
    @Html.ActionLink("Ver comentarios", "DetalleComentarios", new { id = ViewBag.Reserva.Id }, new { @class = "btn btn-info" }) 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
