@model MVC.Models.Reserva

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantHuespedes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantHuespedes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextoConsultas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextoConsultas)
        </dd>
    </dl>

    <h3>Datos del Anfitrion</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Nombre) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Registrado.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Registrado.Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Registrado.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Registrado.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anuncio.Alojamiento.Registrado.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anuncio.Alojamiento.Registrado.Descripcion)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
