@model IEnumerable<BienvenidosUY.Anuncio>

@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar Anuncio</h2>

@using (Html.BeginForm())
{
    <p>
        Palabra clave a buscar en el nombre: @Html.TextBox("SearchString")<br />
        <input type="submit" value="Filtrar" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alojamiento.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.nombre)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.alojamiento.nombre)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.descripcion)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>