@model EntreLibros.ViewModels.LibroViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h2>Agregar un nuevo libro al catálogo</h2>
@using (Html.BeginForm("Create", "Libros", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Libro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnLibro.Titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnLibro.Titulo)
            @Html.ValidationMessageFor(model => model.UnLibro.Titulo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnLibro.FechaPublicacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnLibro.FechaPublicacion)
            @Html.ValidationMessageFor(model => model.UnLibro.FechaPublicacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnLibro.Descripción)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnLibro.Descripción)
            @Html.ValidationMessageFor(model => model.UnLibro.Descripción)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Archivo)
        </div>
        <div class="editor-field">
            <input type="file" name="Archivo" id="Archivo" />
            @Html.ValidationMessageFor(model => model.Archivo)

        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.IdTemaSeleccionado)
            </div>
            @Html.DropDownListFor(model => model.IdTemaSeleccionado, Model.TodosLosTemas)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
