@model IEnumerable<MVC.Models.Anuncio>

@{
    ViewBag.Title = "BuscarAnuncio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar Anuncio</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-inline" }))
{
    <h3>Ingrese su Busqueda:</h3>
        
        <div class="form-group">
            <label class="sr-only">Ciudad</label>
            @Html.TextBox("SearchCiudad", null, new { @class = "form-control", @placeHolder = "Ciudad" })
        </div>
        <div class="form-group">
            <label class="sr-only">Barrio</label>
            @Html.TextBox("SearchBarrio", null, new { @class = "form-control", @placeHolder = "Barrio" })
        </div>
        <div class="form-group">
            <label class="sr-only">Fecha Inicial</label>
            @Html.TextBox("SearchFechaI", null, new { @class = "form-control", @placeHolder = "Fecha Inicio", @type = "date" })
        </div>
        <div class="form-group">
            <label class="sr-only">Fecha Fin</label>
            @Html.TextBox("SearchFechaF", null, new { @class = "form-control", @placeHolder = "Fecha Fin", @type = "date" })
        </div>
        <input type="submit" class="btn btn-default" value="Buscar" />
}

<h2>Listado de Anuncios</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Ciudad
            @*@Html.DisplayNameFor(model => model.Alojamiento.Nombre)*@
        </th>
        <th>
            Alojamiento
            @*@Html.DisplayNameFor(model => model.Alojamiento.Nombre)*@
        </th>
        <th>
            Descripcion
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
        </th>
        <th>
            Opciones
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alojamiento.Ciudad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alojamiento.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-danger" }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@ 
            </td>
        </tr>
    }
</table>

